.idea/**
*.iml
target/**
docs/**
build/**

# API
delegate-api.iml
delegate-api/target/**
delegate-api/dependency-reduced-pom.xml

# Assembly
delegate-assembly.iml
delegate-assembly/target/**
delegate-assembly/dependency-reduced-pom.xml

# Bukkit
delegate-bukkit/target/**
delegate-bukkit/dependency-reduced-pom.xml

# Paper
delegate-paper/target/**
delegate-paper/dependency-reduced-pom.xml

# Core
delegate-core/target/**
delegate-core/dependency-reduced-pom.xml

# Velocity
delegate-velocity.iml
delegate-velocity/target/**
delegate-velocity/dependency-reduced-pom.xml

# Test
delegate-test.iml
delegate-test/target/**
delegate-test/dependency-reduced-pom.xml

# Debug
eula.txt
server.properties
logs/**
bundler/**