.idea/**
*.iml
target/**
docs/**

# API
delegate-api.iml
delegate-api/target/**
delegate-api/dependency-reduced-pom.xml

# Assembly
delegate-assembly.iml
delegate-assembly/target/**
delegate-assembly/dependency-reduced-pom.xml

# Bukkit
delegate-bukkit/target/**
delegate-bukkit/dependency-reduced-pom.xml

# Core
delegate-core/target/**
delegate-core/dependency-reduced-pom.xml

# Velocity
delegate-velocity.iml
delegate-velocity/target/**
delegate-velocity/dependency-reduced-pom.xml